<h1>Lista de registros</h1>

<% @login.each do |avatar| %>
      
        <strong>Nombre: </strong> <%= avatar.name %><br>
        <strong>Apellido: </strong> <%= avatar.lastname%><br>
        <strong>Avatar: </strong><br><%= image_tag avatar.avatar %><br>
        <strong>Email: </strong><%= avatar.email %><br>
  		<hr>
    <% end %>
